#barrasuperior{
    width: 85%;
    margin: 0 0 0 15%;
}    
#buscadorContainer{
    padding-top:2%;
}
.fijo{
    position: fixed;
    z-index: 10;
    width: inherit;
    height: 150px;
}
p, h2{
    color: rgba(0, 0, 0, 0.54);
}
#buscador label input {
    border: none !important;
    border-bottom: solid thin rgb(118,118,118) !important;
    background: transparent !important;
    outline: none !important;
}
#buscador .search-submit {
    display: none !important;
}
#agregarVenta{float:right;}
@media only screen and (min-width:992px){#bscdor{margin: 2% !important;}}
@media only screen and (max-width:991px) and (min-width:768px){#bscdor{margin: 3% !important;}#segundo{margin:3%;}}
@media only screen and (max-width:767px) and (min-width:600px){#bscdor{margin: 3% !important;}#segundo{margin:2%;}}
@media only screen and (max-width:599px) and (min-width:500px){#bscdor{margin: 4% !important;}#segundo{margin:4%;}}
@media only screen and (max-width:499px) and (min-width:400px){#bscdor{margin: 5% !important;}#segundo{margin:5%;}}
@media only screen and (max-width:399px){#bscdor{margin: 7% !important;}#segundo{margin:7%;}}

select {
    background-color: #f8f9fa  !important;
    outline: none !important;
    border: none !important;
    border-bottom: 0.05px ridge #767676 !important;
    font-weight: 600 !important;
    color: #767676 !important;
}
/*@media only screen and (max-width:2600px) and (min-width:1800px){#buscador img{width: 20em;}}
@media only screen and (max-width:1799px) and (min-width:1500px){#buscador img{width: 14em;}}
@media only screen and (max-width:1499px) and (min-width:1200px){#buscador img{width: 12em;}}
@media only screen and (max-width:1199px) and (min-width:992px){#buscador img{width: 10em;}}
@media only screen and (max-width:599px) and (min-width:500px){#buscador{width: 9em !important;left: 30% !important;top:-45px !important;}}
@media only screen and (max-width:499px) and (min-width:400px){#buscador{width: 9em !important;left: 25% !important;top:-45px !important;}}
@media only screen and (max-width:399px) {#buscador{width: 8em !important;left: 25% !important;top:-20px !important;}}*/
